@tailwind base;
@tailwind components;
@tailwind utilities;

.MuiListItemIcon-root{
    min-width: 0 !important;
    @apply mr-2
}
.MuiListItemText-inset{
    @apply pl-8 !important;
}

.Mui-selected {
    @apply rounded  !important;
}

.MuiListItemButton-root:hover {
    @apply rounded !important;
}
.sidebar-list{
    height: calc(100% - 6rem);
}

button:hover{
    cursor: pointer;
}
.note-card.selected
{
    box-shadow: inset 4px 0 red;
    /*border-left: 1px solid red;*/
}
